@import '../../App.scss';

#contact{
    position: relative;
    width: $width;
    height: $height;
    padding: 0 6em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 900px) {
        flex-direction: column-reverse;
        padding: 0 2em;
        overflow: scroll;
    }
    
    header{
        
        nav{
            color: $white;

            .contact{
                &.activeLink{
                    background: -webkit-linear-gradient(-70deg, #903AFF 50%, #FE34B9 0%);
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }

        @media screen and (max-width: 900px) {
            display: none;
        }
    }

    .bk-btn{
        position: fixed;
        height: calc($wk-height * 0.022);
        width: calc($wk-width * 0.02);
        top: 5%;
        left: 3%;
        display: none;

        @media screen and (max-width: 900px) {
            display: grid;
            place-content: center;
            background: linear-gradient( $dk-purple, $dk-purple) padding-box,
                linear-gradient(to right, $pink, $purple) border-box;
            border: 0.15em solid transparent;
            border-radius: $radius;
        }
    }
    
    section{
        position: relative;
        width: 100%;
        color: $white;
        display: flex;
        flex-direction: column;
        gap: 2em;

        @media screen and (max-width: 900px) {
            flex-direction: column-reverse;

            h2, p{
                display: none;
            }
        }

        h2{
            color: $pink;
            font-family: $bg-font;
        }

        menu{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            h4{
                color: $pink;
            }

            span{
                display: flex;
                align-items: center;
                gap: 1em;
            }

            @media screen and (max-width: 900px) {
                width: 100%;
                position: relative;
                align-items: center;
                margin: 0 0 4em 0;

                h4{
                    text-align: center;
                }
            }
        }
    }

    form{
        position: relative;
        width: 100%;
        padding: 2em 4em;
        border-radius: $small-radius;
        background: rgba($white, 0.05);
        display: flex;
        flex-direction: column;
        gap: 2em;
        margin: 5em 0 0 0;

        @media screen and (max-width: 900px) {
            background: none;
            padding: 0;
            gap: 3em;
        }

        aside{
            color: $pink;
            gap: 1em;

            p{
                color: $white;
                display: none;

                @media screen and (max-width: 900px) {
                    display: block;
                }
            }
        }

        #form-input{
            position: relative;
            width: 100%;
            height: calc($wk-height * 0.03);
            display: flex;
            align-items: flex-end;
            background: rgba($white, 0.02);
            border: 0.02em solid $white;
            border-radius: calc($small-radius * 0.5);
            
            input{
                position: relative;
                width: 100%;
                height: 80%;
                outline: none;
                resize: none;
                border: none;
                border-radius: $small-radius;
                background: transparent;
                font-size: $text;
                padding: .5em 1em;
                overflow: hidden;
                color: $white;
        
                &:focus-within ~ label{
                    transform: translateY(-1.2em);
                    font-size: $small-text;
                    padding: 0.3em;
                    color: $purple;
                }
            }
        
            label{
                position: absolute;
                top: 23%;
                left: 2%;
                pointer-events: none;
                transition: .3s ease all;
                color: $white;
        
                &.active{
                    transform: translateY(-1.2em);
                    font-size: $small-text;
                    padding: 0.3em;
                    color: $pink;
                }
            }
        
            i{
                position: absolute;
                top: 30%;
                right: 5%;
                color: $purple;
                cursor: pointer;
            }
        
            &:focus-within{
                border: 0.02em solid $purple;
            }
        }

        #text{
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background: rgba($white, 0.02);
            border: 0.02em solid $white;
            border-radius: calc($small-radius * 0.5);

            textarea{
                position: relative;
                width: 100%;
                height: calc($wk-height * 0.07);
                outline: none;
                resize: none;
                border: none;
                border-radius: $small-radius;
                background: transparent;
                font-family: $font;
                font-size: $text;
                padding: .5em 1em;
                overflow: hidden;
                color: $white;

            }

            label{
                color: $white;
                padding: .3em .7em;
            }
        }

        .submit-btn{
            position: relative;
            width: 30%;
            padding: .5em 1em;
            outline: none;
            border: none;
            border-radius: $small-radius;
            color: $white;
            font-family: $font;
            font-weight: 500;
            font-size: $text;
            cursor: pointer;
            align-self: center;
            @include linearGradient;

            @media screen and (max-width: 638px) {
                width: 100%;
            }
        }
    }
}