@import '../../../App.scss';

#timeline{
    position: relative;
    width: 100%;
    padding: 2em 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    @include borderBottom;

    h1{
        font-family: $bg-font;
    }

    #breakdown{
        @media screen and (max-width: 1000px) {
            text-align: center;
            width:  80% ;
        }
    }

    aside{
        position: relative;
        width: max-content;
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin: 5em 0 0 -7em;

        @media screen and (max-width: 1000px) {
            width: 100%;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 3em;
            gap: 2em;
        }

        @media screen and (max-width: 639px) {
            padding: 3em 1em;
        }

        h3{
            color: $pink;
            font-weight: 600;
        }

        #tm-content{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 7em;
            margin: .5em 0;

            &.even{
                flex-direction: row-reverse;
            }
            
            &.odd{
                padding: 0 0 0 13.6em;
            }

            @media screen and (max-width: 1000px) {
                width: 100%;
                flex-direction: column-reverse;
                align-items: flex-start;
                justify-content: flex-start;
                gap: .3em;
                padding: 0 0 0 3em;
                
                &.even{
                    flex-direction: column-reverse;
                }
                
                &.odd{
                    padding: 0;
                    padding: 0 0 0 3em;
                }
            }

            article{
                width: 25%;

                p{
                    width: 90%;
                }

                @media screen and (max-width: 1000px) {
                    width: 70%;

                    p{
                        width: 100%;
                    }
                }

                @media screen and (max-width: 639px) {
                    width: 100%;

                    p{
                        width: 100%;
                    }
                }
            }

            span{
                position: absolute;
                height: calc($wk-height * 0.02);
                width: calc($wk-width * 0.02);
                display: grid;
                place-content: center;
                top: 38%;
                left: 52%;
                border-radius: $radius;
                font-family: $font;
                @include linearGradient;

                @media screen and (max-width: 1000px) {
                    top: 80%;
                    left: 0%;
                }

                &::before{
                    position: absolute;
                    content: '';
                    width: 5%;
                    top: -280%;
                    left: 45%;
                    height: calc($wk-height * 0.05);
                    @include linearGradient;
                }
            }
        }
    }
}