@import '../../App.scss';

header{
    position: fixed;
    top: 0;
    left: 0;
    width: $width;
    padding: 1em 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s ease;
    z-index: 999;
    @include borderBottom;

    &.scrolled{
        background: $dk-purple;

        .nav-btn{
            color: $white;

            &:hover{
                color: $pink;
            }
        }
    }
    
    nav{
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    .register{
        margin-left: 7em;
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include linearGradient;

        &:hover, &.activeLink{
            color: $white;
        }
    }
}