@import '../../App.scss';

header{
    position: sticky;
    top: 0;
    left: 0;
    width: $width;
    padding: 1em 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include borderBottom;
    
    nav{
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    .register{
        margin-left: 7em;
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include linearGradient;

        &:hover,&.activeLink{
            color: $white;
        }
    }

    &.scrolled{
        background: $white;

        .nav-btn{
            color: $black;
        }
    }
}