@import '../../App.scss';

header{
    position: fixed;
    top: 0;
    left: 0;
    width: $width;
    padding: 1em 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s ease;
    z-index: 999;
    @include borderBottom;

    &.scrolled{
        background: $dk-purple;

        .nav-btn{
            color: $white;

            &:hover{
                color: $pink;
            }
        }
    }
    
    nav{
        display: flex;
        align-items: center;
        margin-left: auto;

        .links{
            position: relative;
            padding: .5em 1em;
            cursor: pointer;

            &:hover{
                color: $pink;
            }

            .activetoggle{
                color: $pink;
            }
        }
    }

    .register{
        margin-left: 7em;
        width: 10%;
        @include linearGradient;
        
        &:hover, &.activeLink{
            color: $white;
            background: linear-gradient( $dk-purple, $dk-purple) padding-box,
                        linear-gradient(to right, $pink, $purple) border-box;
            border-radius: $small-radius;
            border: 0.15em solid transparent;
            padding: .4em 1em;
        }
    }
}