@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://db.onlinewebfonts.com/c/91b1db5e4b8cf06a7faa52ca0f9324a8?family=AC+Display+Bold');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin linearGradient{
    background:linear-gradient(
        270deg, 
        #903AFF 0%, 
        #FE34B9 100%
    );
}

@mixin borderBottom{
    border-bottom: 0.002em solid rgba($white, 0.2);
}

//colors

$black: #222222;
$white: #FFFFFF;
$dk-purple: #150E28;
$ft-purple: #100B20;
$purple: #903AFF;
$pink: #D434FE;

//constants

$height: 100vh;
$width: 100%;
$wk-height: 100em;
$wk-width: 100em;
$radius: 50%;
$border-radius: 1em;
$small-radius: .5em;
$small-text: .7em;
$text: 1em;
$large-text: 2.5em;
$extra-large-text: 5em;
$font: 'Montserrat', sans-serif;
$bg-font: 'AC Display Bold';

::-webkit-scrollbar{
    width: .3em;
    background: $dk-purple;
}

::-webkit-scrollbar-thumb{
    @include linearGradient;
    border-radius: $border-radius;
    cursor: pointer;
}

.App{
    position: relative;
    height: $height;
    width: $width;
    background: $dk-purple;
    font-family: $font;
    scroll-behavior: smooth;

    .fa-circle-notch{
        position: absolute;
        top: 50%;
        left: 48%;
        transform: translate(45%, 50%);
        color: $white;
    }
}